#开发配置
server:
  #默认端口
  port: 8080
  servlet:
    context-path: /adv
  tomcat:
    #tomcat-URI-编码
    uri-encoding: UTF-8
#日志配置
logging:
  level:
    com.suma: debug
    org.springframework: WARN
    org.spring.springboot.dao: debug
#数据源配置
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.166.65.174:3306/adv?useUnicode=true&characterEncoding=utf8&&useSSL=false
    username: root
    password: root

#映射文件
mybatis:
  mapper-locations: classpath*:/mapper/*.xml
  type-aliases-package: com.suma.pojo
  configuration:
    map-underscore-to-camel-case: true
