<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suma.dao.AdvCheckDetailMapper" >
  <resultMap id="BaseResultMap" type="com.suma.pojo.AdvCheckDetail" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ADV_INFO_ID" property="advInfoId" jdbcType="BIGINT" />
    <result column="REGION" property="region" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="MARK" property="mark" jdbcType="VARCHAR" />
    <result column="TIMES" property="times" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ADV_INFO_ID, REGION, USERNAME, STATUS, MARK, TIMES
  </sql>


  <!--根据ID查询-->
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from adv_check_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <!--查询所有-->
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from adv_check_detail
    <where>
      <if test="status != null and status != ''">
        STATUS = #{status}
      </if>
      <if test="times != null and times != ''">
       and TIMES = #{timea}
      </if>
      <if test="region != null and region != ''">
       and REGION = #{region}
      </if>
      <if test="username != null and username != ''">
        and USERNAME = #{username}
      </if>
      <if test="advInfoId != null and advInfoId != ''">
        and ADV_INFO_ID = #{advInfoId}
      </if>
    </where>
  </select>


  <!--根据ID删除-->
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from adv_check_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>


  <!--批量删除-->
  <delete id="deleteAll">
    delete from adv_check_detail
    where ID IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!--添加-->
  <insert id="insert" parameterType="com.suma.pojo.AdvCheckDetail" useGeneratedKeys="true" keyProperty="id">
    insert into adv_check_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advInfoId != null" >
        ADV_INFO_ID,
      </if>
      <if test="region != null" >
        REGION,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="mark != null" >
        MARK,
      </if>
      <if test="times != null" >
        TIMES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="advInfoId != null" >
        #{advInfoId,jdbcType=BIGINT},
      </if>
      <if test="region != null" >
        #{region,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="times != null" >
        #{times,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>



  <!--更新-->
  <update id="updateById" parameterType="com.suma.pojo.AdvCheckDetail" >
    update adv_check_detail
    <set >
      <if test="advInfoId != null" >
        ADV_INFO_ID = #{advInfoId,jdbcType=BIGINT},
      </if>
      <if test="region != null" >
        REGION = #{region,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        MARK = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="times != null" >
        TIMES = #{times,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

</mapper>