<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suma.dao.AdvCheckDetailMapper" >
  <resultMap id="BaseResultMap" type="com.suma.pojo.AdvCheckDetail" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ADV_INFO_ID" property="advInfoId" jdbcType="BIGINT" />
    <result column="REGION" property="region" jdbcType="INTEGER" />
    <result column="CHECKUSER" property="checkUser" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="MARK" property="mark" jdbcType="VARCHAR" />
    <result column="CHECKTIME" property="checkTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ADV_INFO_ID, REGION, CHECKUSER, STATUS, MARK, CHECKTIME
  </sql>


  <!--根据advInfoId查询-->
  <select id="select" resultType="AdvCheckDetail" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from adv_check_detail
    where ADV_INFO_ID = #{advInfoId,jdbcType=BIGINT}
  </select>

  <!--查询所有-->
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from adv_check_detail
    <where>
      <if test="status != null and status != ''">
        STATUS = #{status}
      </if>
      <if test="checkTime != null and times != ''">
       and CHECKTIME = #{checkTime}
      </if>
      <if test="region != null and region != ''">
       and REGION = #{region}
      </if>
      <if test="ckeckUser != null and username != ''">
        and CHECKUSER = #{checkUser}
      </if>
      <if test="advInfoId != null and advInfoId != ''">
        and ADV_INFO_ID = #{advInfoId}
      </if>
    </where>
  </select>


  <!--根据ID删除-->
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from adv_check_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>


  <!--批量删除-->
  <delete id="deleteAll">
    delete from adv_check_detail
    where ID IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!--添加-->
  <insert id="insert" parameterType="com.suma.pojo.AdvCheckDetail">
    insert into adv_check_detail(
      <include refid="Base_Column_List"/>
    )
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="advInfoId != null">
        #{advInfoId,jdbcType=BIGINT}
      </if>
      <if test="region != null" >
        #{region,jdbcType=INTEGER},
      </if>
      <if test="checkUser != null" >
        #{CHECKUSER,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>



  <!--更新-->
  <update id="updateById" parameterType="com.suma.pojo.AdvCheckDetail" >
    update adv_check_detail
    <set >
      <if test="advInfoId != null" >
        ADV_INFO_ID = #{advInfoId,jdbcType=BIGINT},
      </if>
      <if test="region != null" >
        REGION = #{region,jdbcType=INTEGER},
      </if>
      <if test="checkUser != null" >
        CHECKUSER = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        MARK = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        CHECKTIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

</mapper>