<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suma.dao.AdvInfoMapper" >
  <resultMap id="BaseResultMap" type="com.suma.pojo.AdvInfo" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ADV_LOCATION_ID" property="advLocationId" jdbcType="BIGINT" />
    <result column="ADV_TYPE_ID" property="advTypeId" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE" property="materialType" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="START_DATE" property="startDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="PERIOD_TIME_START" property="periodTimeStart" jdbcType="TIME" />
    <result column="PERIOD_TIME_END" property="periodTimeEnd" jdbcType="TIME" />
    <result column="CHECK_USER" property="checkUser" jdbcType="VARCHAR" />
    <result column="CHECK_NOTE" property="checkNote" jdbcType="VARCHAR" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_USER" property="createdUser" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="LAST_EDIT_TIME" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="LAST_EDIT_USER" property="lastEditUser" jdbcType="VARCHAR" />
    <result column="LAST_EDIT_MODULE" property="lastEditModule" jdbcType="VARCHAR" />
    <result column="REGION" property="region" jdbcType="INTEGER" />
    <result column="RESERVED_STRING" property="reservedString" jdbcType="VARCHAR" />
    <result column="RESERVED_INT" property="reservedInt" jdbcType="BIGINT" />
  </resultMap>
  <sql id="columnList" >
    ID, ADV_LOCATION_ID, ADV_TYPE_ID, NAME, MATERIAL_TYPE, STATUS, START_DATE, END_DATE, 
    PERIOD_TIME_START, PERIOD_TIME_END, CHECK_USER, CHECK_NOTE, CHECK_TIME, CREATED_USER, 
    CREATED_TIME, LAST_EDIT_TIME, LAST_EDIT_USER, LAST_EDIT_MODULE, REGION, RESERVED_STRING, 
    RESERVED_INT
  </sql>

  <!--根据广告id查询广告信息-->
  <select id="selectByAdvInfoId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="columnList" />
    from adv_info
    where ID = #{id}
  </select>

  <!--查询所有广告信息-->
  <select id="">
    select
    <include refid="columnList"/>
    from adv_info
  </select>

  <!--根据广告名称、有效期、状态进行查询-->
  <select id="">
    select
    <include refid="columnList"/>
    from adv_info
    where
    <if test="name != null">name = #{name,jdbcType=VARCHAR}</if>
    and
    <if test="status != null">status = #{status,jdbcType=INTEGER}</if>
    between
    <if test="startDate != null">startDate = #{startDate,jdbcType=DATE}</if>
    and
    <if test="endDate != null">endDate = #{endDate,jdbcType=DATE}</if>
  </select>

  <!--删除广告信息-->
  <delete id="deleteByAdvInfoId" parameterType="java.lang.Long" >
    delete from adv_info
    where ID = #{id}
  </delete>

  <!--创建广告-->
  <insert id="insertAdvInfo" parameterType="com.suma.pojo.AdvInfo" >
    insert into adv_info (
      <include refid="columnList"/>
      )
    values (#{id,jdbcType=BIGINT}, #{advLocationId,jdbcType=BIGINT}, #{advTypeId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{materialType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{periodTimeStart,jdbcType=TIME}, 
      #{periodTimeEnd,jdbcType=TIME}, #{checkUser,jdbcType=VARCHAR}, #{checkNote,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{createdUser,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{lastEditTime,jdbcType=TIMESTAMP}, #{lastEditUser,jdbcType=VARCHAR}, #{lastEditModule,jdbcType=VARCHAR}, 
      #{region,jdbcType=INTEGER}, #{reservedString,jdbcType=VARCHAR}, #{reservedInt,jdbcType=BIGINT}
      )
  </insert>

  <!--更新广告-->
  <update id="updateAdvInfo" parameterType="com.suma.pojo.AdvInfo" >
    update adv_info
    <set >
      <if test="advLocationId != null" > ADV_LOCATION_ID = #{advLocationId,jdbcType=BIGINT}, </if>
      <if test="advTypeId != null" >ADV_TYPE_ID = #{advTypeId,jdbcType=BIGINT},</if>
      <if test="name != null" > NAME = #{name,jdbcType=VARCHAR},</if>
      <if test="materialType != null" >MATERIAL_TYPE = #{materialType,jdbcType=INTEGER},</if>
      <if test="status != null" >STATUS = #{status,jdbcType=INTEGER},</if>
      <if test="startDate != null" >START_DATE = #{startDate,jdbcType=DATE},</if>
      <if test="endDate != null" >END_DATE = #{endDate,jdbcType=DATE},</if>
      <if test="periodTimeStart != null" >PERIOD_TIME_START = #{periodTimeStart,jdbcType=TIME},</if>
      <if test="periodTimeEnd != null" >PERIOD_TIME_END = #{periodTimeEnd,jdbcType=TIME},</if>
      <if test="checkUser != null" >CHECK_USER = #{checkUser,jdbcType=VARCHAR},</if>
      <if test="checkNote != null" >CHECK_NOTE = #{checkNote,jdbcType=VARCHAR},</if>
      <if test="checkTime != null" >CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},</if>
      <if test="createdUser != null" >CREATED_USER = #{createdUser,jdbcType=VARCHAR},</if>
      <if test="createdTime != null" >CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},</if>
      <if test="lastEditTime != null" >LAST_EDIT_TIME = #{lastEditTime,jdbcType=TIMESTAMP},</if>
      <if test="lastEditUser != null" >LAST_EDIT_USER = #{lastEditUser,jdbcType=VARCHAR},</if>
      <if test="lastEditModule != null" >LAST_EDIT_MODULE = #{lastEditModule,jdbcType=VARCHAR},</if>
      <if test="region != null" >REGION = #{region,jdbcType=INTEGER},</if>
      <if test="reservedString != null" >RESERVED_STRING = #{reservedString,jdbcType=VARCHAR},</if>
      <if test="reservedInt != null" >RESERVED_INT = #{reservedInt,jdbcType=BIGINT},</if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>