<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suma.dao.AdvRoleMenuMapper">

    <resultMap id="AdvRoleMenuResult" type="AdvRoleMenu">
        <result property="roleId" column="role_id"/>
        <result property="menuId" column="menu_id"/>
    </resultMap>

    <insert id="batchAdvRoleMenu">
        insert into adv_role_menu(role_id,menu_id) values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>

    <select id="selectCountRoleMenuByMenuId" resultType="java.lang.Integer">
      select count(role_id) from adv_role_menu where menu_id = #{menuId}
    </select>

    <select id="selectMenuIdsByAdvRoleId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select menu_id from adv_role_menu where role_id = #{roleId};
    </select>

    <delete id="deleteAdvRoleMenuByAdvRoleId" parameterType="java.lang.Integer">
        delete from adv_role_menu where role_id = #{roleId};
    </delete>

    <delete id="batchDelete" parameterType="java.lang.Integer">
        delete from adv_role_menu where role_id in
        <foreach collection="list" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>