<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suma.dao.AdvTypeMapper" >
  <resultMap id="BaseResultMap" type="com.suma.pojo.AdvType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="advType" property="advtype" jdbcType="VARCHAR" />
    <result column="advTypeName" property="advtypename" jdbcType="VARCHAR" />
    <result column="advSubType" property="advsubtype" jdbcType="VARCHAR" />
    <result column="advSubTypeName" property="advsubtypename" jdbcType="VARCHAR" />
  </resultMap>

  <!--广告位数据表字段-->
  <sql id="Base_Column_List" >
    id, advType, advTypeName, advSubType, advSubTypeName
  </sql>

  <!--按广告位id查询广告位-->
  <select id="selectByAdvTypeId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from adv_type
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--查询所有广告位-->
  <select id="selectAdvTypes" resultMap="BaseResultMao">
    select
    <include refid="Base_Column_List"/>
    from adv_type
  </select>

  <!--根据广告位类型查询-->
  <select id="selectAdvTypesByType" resultMap="BaseResultType">
    select <include refid="Base_Column_List"/>
    from adv_type
    where
    <if test="advType != null">advType = #{advType}</if>
  </select>

  <!--根据广告位id删除广告位-->
  <delete id="deleteByAdvTypeId" parameterType="java.lang.Long" >
    delete from adv_type
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <!--创建广告位-->
  <insert id="insertAdvType" parameterType="com.suma.pojo.AdvType" >
    insert into adv_type
    <trim suffixOverrides="," prefix="(" suffix=")" >
      <if test="id != null">id,</if>
      <if test="advType"></if>
    </trim>
    <trim suffixOverrides="," prefix="values (" suffix=")">
      <if test="id != null">#{id,jdbcType=BIGINT},</if>
      <if test="advType != null">#{advtype,jdbcType=VARCHAR},</if>
      <if test="advTypeName != null"> #{advtypename,jdbcType=VARCHAR},</if>
      <if test="advSubType != null">#{advsubtype,jdbcType=VARCHAR},</if>
      <if test="advSubTypeName != null">#{advsubtypename,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

 <!--更新广告位信息-->
  <update id="updateAdvType" parameterType="com.suma.pojo.AdvType">
    update adv_type
    <set >
      <if test="advType != null" >
        advType = #{advType,jdbcType=VARCHAR},
      </if>
      <if test="advTypeName != null" >
        advTypeName = #{advTypeName,jdbcType=VARCHAR},
      </if>
      <if test="advSubType != null" >
        advSubType = #{advSubType,jdbcType=VARCHAR},
      </if>
      <if test="advSubTypeName != null" >
        advSubTypeName = #{advSubTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>