<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suma.dao.InfoFlyWordMapper">
  <resultMap id="BaseResultMap" type="com.suma.pojo.InfoFlyWord">
    <result column="ADV_INFO_ID" jdbcType="BIGINT" property="advInfoId" />
    <result column="FLYWORD_ID" jdbcType="BIGINT" property="flywordId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ADV_INFO_ID, FLYWORD_ID
  </sql>
  <select id="selectByExample" parameterType="com.suma.pojo.InfoFlyWordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from info_flyword
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.suma.pojo.InfoFlyWordExample">
    delete from info_flyword
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suma.pojo.InfoFlyWord">
    insert into info_flyword (ADV_INFO_ID, FLYWORD_ID)
    values (#{advInfoId,jdbcType=BIGINT}, #{flywordId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.suma.pojo.InfoFlyWord">
    insert into info_flyword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="advInfoId != null">
        ADV_INFO_ID,
      </if>
      <if test="flywordId != null">
        FLYWORD_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="advInfoId != null">
        #{advInfoId,jdbcType=BIGINT},
      </if>
      <if test="flywordId != null">
        #{flywordId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suma.pojo.InfoFlyWordExample" resultType="java.lang.Long">
    select count(*) from info_flyword
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update info_flyword
    <set>
      <if test="record.advInfoId != null">
        ADV_INFO_ID = #{record.advInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.flywordId != null">
        FLYWORD_ID = #{record.flywordId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update info_flyword
    set ADV_INFO_ID = #{record.advInfoId,jdbcType=BIGINT},
      FLYWORD_ID = #{record.flywordId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectFlywordIds" resultType="java.lang.Long" parameterType="Long">
    select FLYWORD_ID from info_flyword where ADV_INFO_ID = #{advInfoId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from info_flyword where ADV_INFO_ID = #{advInfoId}
  </delete>

</mapper>